{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<table class="table">
    
    <tbody>
    <tr class="dark">
        <form action="/update/{{track['id']}}" method="POST">
        <th></th>
        <th> <button type="submit" class="btn btn-primary">Save</button></th>
        <td>
            <input type="text" value="{{ track['title'] }}" class="form-control" name="title" aria-describedby="emailHelp" placeholder="Track Title">
        </td>
        <td>
            <input type="text" value="{{ track['artist'] }}" class="form-control" name="artist" aria-describedby="emailHelp" placeholder="Artist">
        </td>
        <td>
            <input type="text" value="{{ track['album'] }}" class="form-control" name="album" aria-describedby="emailHelp" placeholder="Album">
        </td>
        </form>
    </tr>
    </tbody>
  </table>

{% endblock %}