{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<table class="table">
    
    <tbody>
    {%for track in playlist%}
        <tr>
            <th>
                <form action="/delete/{{track['id']}}" method="POST">
                    
                    <input type="hidden" name="id" value="{{track['id']}}" />
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span></a>
                    
                </form>
            </th>
            <th>
                <form action="/update/{{track['id']}}" method="GET">
                    <input type="hidden" name="id" value="{{track['id']}}" />
                    <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-edit"></span></a>
                </form>
            </th>
            <td>{{ track['title'] }}</td>
            <td>{{ track['artist'] }}</td>
            <td>{{ track['album' ] }}</td>
        </tr>
    {%endfor%}
    <tr class="dark">
        <form action="/" method="POST">
        <th></th>
        <th> <button type="submit" class="btn btn-primary">Add</button></th>
        <td>
            <input type="text" class="form-control" name="title" aria-describedby="emailHelp" placeholder="Track Title">
        </td>
        <td>
            <input type="text" class="form-control" name="artist" aria-describedby="emailHelp" placeholder="Artist">
        </td>
        <td>
            <input type="text" class="form-control" name="album" aria-describedby="emailHelp" placeholder="Album">
        </td>
        </form>
    </tr>
    </tbody>
  </table>

{% endblock %}